*.py[cod]
.idea
ros/src/tl_detector/sim_data/
ros/src/tl_detector/model.h5
ros/src/tl_detector/model.png

build
devel
logs
.catkin_tools

profile.tmp
ENV

**/src/dataspeed_can/
**/src/dbw_mkz_ros
**/src/lusb
